<% // title is a paramater used by base to set the page title %>
<% title= 'Admin Panel' %>

<% include partials/base %>

<h1>Administration Panel</h1>

<table>
  <tr><th>Email</th><th>Role</th></tr>
  <% users.forEach(function(user) { %>
    <tr><td><%= user.email %></td><td><%= user.role %></td></tr>
  <% }); %>
</table>


<% include partials/foot %>
