<!DOCTYPE html>
<html lang="en" ng-app="swap-meet">
<head>
  <meta charset="UTF-8">
  <title>Daily Needs</title>
  <title> Login</title>



</head>
<title> Login </title>
<body>
<link rel="stylesheet" href="style.css">
  <section class ="menubar">
  <div id="menu">
      <ul>
          <li><a href="home.html">Home</a></li>
          <li><a href="index.html">Sign In</a></li>
          <li><a href="register.html">Register</a></li>
          <li><a href="stocks.html">Stocks</a></li>
      </ul>
  </div>
</section>

  <section class="register cd">
  		<form name="register" method="POST" accept-charset="utf-8">
        res.render('register', { csrfToken: req.csrfToken() });
  			<ul>
          <li>
  					<label for="firstname">First Name</label>
  					<input type="text" name="firstname" placeholder="First Name" required>
  				</li>
          <li>
  					<label for="lastname">Last Name</label>
  					<input type="text" name="lastname" placeholder="Last Name" required>
  				</li>
  				<li>
  					<label for="username">Username</label>
  					<input type="text" name="username" placeholder="username" required>
  				</li>
  				<li>
  					<label for="password">Password</label>
  					<input type="password" name="password" placeholder="password" required></li>
  				<li>
  					<input type="submit" value="Create Account">
  				</li>
  			</ul>
  		</form>
  	</section>

<div2></div2>
</body>
</html>
